<h2 class = "dashboard-title">Your Posts</h2>
<div>
    <button class = "dashboardBtn" type="submit"><a class = "dashboardBtnText" href="/dashboard/new">Add Post</a></button>
</div>
<section>
    {{#if posts.length}}
    {{#each posts as |post|}}
    <article class="post">
        <div class="dashboard-container">
            <div class="dashboard-post">
                <h3 class="card-title"><a class = "post-title" href="/dashboard/edit/{{id}}">{{title}}</a></h3>
                <div class="post-body card-body">
                    <p class="post-content card-body">{{{content}}}</p>
                    <p class="post-author card-text">Post by:  <span class="post-username"> {{user.username}}</span> on {{format_date post.createdAt}}</p>
                </div>
            </div>
        </div>
    </article>
    {{/each}}
{{/if}}
</section>