{{#each posts as |post|}}
<article class="post">
    <div class="postDiv">
        <h3 class="card-title"><a class = "post-title" href="/post/{{post.id}}">{{post.title}}</a></h3>
        <p class="post-content">{{content}}</p>
        <p class ="postUserP">Posted by <span class = "postUser">{{post.user.username}}</span></p>
        <p class="date">Post created on: <span class = "dateSpan">{{ format_date createdAt }}</span></p>
        <p>{{post.body}}</p>
    </div>
</article>
{{/each}}